<% include partials/_header.ejs %>

<div id = "main-section">

<div class = "metric">
    Users: <span class = "bold"><%= userCount %></span>
</div>
<br>

<% for(var i = 0; i < userCount; i++){ %>
    
    <% var user = users[i] %>

        <div class = "one-user">
        <div class = "metric-table metric-username">
            <%= (i+1) %>. <a class = "bold" href = "/profile/<%= user.username %>"><%= user.username %></a>
        </div>

        <div class = "metric-table metric-username">
            <%= user.email %>
        </div>

        <div class = "metric-table metric-username">
            <%= user.data.createdOn %>
        </div>
    </div>

<% } %>

<br><br><br>


<div class = "metric">Visits: <span class = "bold"><%= visitCount %></span></div>

<br>

<div class = "metric">
    Definitions: <span class = "bold"><%= definitionCount %></span> for <span class = "bold"><%= termCount %></span> terms
</div>


</div>

<% include partials/_footer.ejs %>

