<% include partials/_header.ejs %>

<div id = "main-section">

    <br>

    <div class = "metric definition-count-metric">
        Definitions: <span class = "bold definition-count"><%= approvedDefinitionCount %></span> for <span class = "bold"><%= termCount %></span> terms
    </div>
    <br>
    <div class = "metric definition-count-metric">
        Users: <span class = "bold"><%= userCount - 3 %></span>
    </div>
    <br>

    <% for(var i = 0; i < userCount; i++){ %>
        
        <% var user = users[i] %>

            <div class = "one-user">
            <div class = "metric-table metric-username">
                <%= (i+1) %>. <a class = "bold" href = "/profile/<%= user.username %>"><%= user.username %></a>
            </div>

            <div class = "metric-table metric-email">
                <%= user.email %>
            </div>

            <div class = "metric-table metric-date">
                <% if(user.createdOn && user.createdOn.length){ %>
                    <%= new Date(user.createdOn).toLocaleDateString('en-US'); %>
                <% } %>
            </div>
        </div>

    <% } %>

    <br><br><br>


    <div class = "metric">Visits: <span class = "bold"><%= visitCount %></span>
    <br>
    Unapproved definitions: <span class = "bold"><%= unapprovedDefinitionCount %></span>
    <br><br>
    </div>
    <div class = "metric">Approved Definitions:</div>

    <% approvedDefinitions.forEach(function(def){ %>
        <div class = "metric-definition"><a class = "bold" href ="<%= def.term %>"><%= def.term %></a> </div>
        <div class = "metric-definition-author"><a href ="profile/<%= def.author %>"><%= def.author %></a></div>
        <br>
    <% }) %>

    <br>

    <div class = "metric">Unapproved Definitions:</div>

    <% unapprovedDefinitions.forEach(function(def){ %>
        <div class = "metric-definition bold"><a class = "bold" href ="<%= def.term %>"><%= def.term %></a> </div>
        <div class = "metric-definition-author"><a href ="profile/<%= def.author %>"><%= def.author %></a></div>
        <br>
    <% }) %>

    <br>

    <div class = "metric">Searches:</div>

    <% searches.forEach(function(search){ %>
        <div class = "metric-definition bold"><a class = "bold" href ="<%= search %>"><%= search.term %></a></div>
        <div class = "metric-definition"><%= search.username %></div>
        <div class = "metric-definition-author"><%= search.date %></div>
        <br>
    <% }) %>

    <br>

</div>

<% include partials/_footer.ejs %>

