<% include ../partials/_header.ejs %>

<div id = "main-section">

    <h2>User profile: <span class = "profile-username"><%= username %></h2>

    <div class = "profile-links">
        <a class = "profile-section-tab" href = "/profile/<%= username %>/definitions">Definitions</a>
        <a class = "profile-section-tab active-profile-tab" href = "/profile/<%= username %>/comments">Comments</a> 
        <% if (displayFullProfile) { %> 
            <a class = "profile-section-tab" href = "/profile/<%= username %>/status">Submissions</a>
        <% } %>
    </div>

    <div class = "live-comments" id = "live-comment-section">

        <% comments.forEach(function(comment){ %>

            <% var score = comment.upvotes - comment.downvotes%>

            <div class = "comment" id = "<%= comment.id %>">

                <div class = "comment-column">
                    <div class = "comment-body">
                        <div class = "definition-term"><a href = "/<%= comment.term %>"><%= comment.term %></a></div>
                        <%= comment.body %>
                    </div>
                    <div class = "edit-history-column">
                        <a href = "/profile/{{comment.author}}">@<%= comment.author %></a> on <%= comment.date.substr(4, 11) %>
                        <br>
                        <% if (displayFullProfile){ %>
                            <div class = "bold link delete-post" data-id = "<%= comment.id %>" data-type = "comments">Delete</div>
                        <% } %>
                        <span class = "report-post link bold" data-id = "<%= comment.id %>" data-type = "comments">Report</span>
                    </div>
                </div><!-- 
             --><div class = "voting-column">
                    <div class = "voting-section">  
                        <i class="fa fa-chevron-up voting-button link" data-id = "<%= comment.id %>" data-vote = "up" data-type = "comment" aria-hidden="true"></i><br>
                        <span class = "definition-score"><%= score %></span><br>
                        <i class="fa fa-chevron-down voting-button link" data-id = "<%= comment.id %>" data-vote = "down" data-type = "comment" aria-hidden="true"></i>
                    </div>
                </div>
            </div>


        <% }) %>

        <% if (comments.length == 0){ %>
            <%=username %> has not left any comments
        <% } %>


    </div>

</div>

<% include ../partials/_footer.ejs %>