<% include ../partials/_header.ejs %>

<div id = "main-section">

    <h2>User profile: <span class = "profile-username"><%= username %></h2>

    <div class = "profile-links">
        <a class = "profile-section-tab" href = "/profile/<%= username %>/definitions">Definitions</a>
        <a class = "profile-section-tab active-profile-tab" href = "/profile/<%= username %>/comments">Comments</a> 
        <% if (displayFullProfile) { %> 
            <a class = "profile-section-tab" href = "/profile/<%= username %>/status">Submissions</a>
        <% } %>
    </div>

    <div class = "live-comments" id = "live-comment-section">

        <% if (comments.length == 0){ %>
            <%=username %> has not left any comments
        <% } %>


    </div>

</div>

<% include ../partials/_footer.ejs %>